#aboutPage{
    position: absolute;
    top: 760px;
    width: 100%;
    height: 600px;
    background: #ECF0F1;
}

#aboutPage>section:nth-child(1){
    position: absolute;
    width: 125px;
    height: 65px;
    top: 30px;
    left: 45%;
}

#aboutPage>section:nth-child(1)>h1{
    position: relative;
    margin: 0;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 20px;
    color: #FF3366;

}
#aboutPage>section:nth-child(1)>h2{
    position: relative;
    margin: 0;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 40px;
    color: #2c3e50;
}

#aboutPage>section:nth-child(2)>aside:nth-child(1)>div{
    position: absolute;
    background-image: url("../images/web/about image.jpg");
    background-size: cover;
    background-position: center;
    width: 25%;
    height: 80%;
    top: 100px;
    left: 90px;
    border-radius: 50px;

}

#aboutPage>section:nth-child(2)>aside:nth-child(2){
    position: absolute;
    top: 20%;
    left: 35%;
    width: 58%;
    height: 77%;
}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>article>p{
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0;
    width: 75%;
    font-family: "Open Sans";
    font-size: 20px;
    height: 50px;
}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>button{
    position: absolute;
    background: #FF3366;
    width: 142px;
    height: 35px;
    top: 175px;
    left: 0px;
    border-radius: 10px;
    border: 0px;
    color: #D5D5D5;
    font-family: "Open Sans Semibold";
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(3){
    width: 30px;
    height: 133px;
    position: relative;
    top: 185px;
    left: 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;

}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>section>div{
    width: 29px;
    height: 25px;

}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>section>div:nth-child(1){
    background-image: url("../images/web/png name.png");
    background-position: center;
    background-size: cover;
}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>section>div:nth-child(2){
    background-image: url("../images/web/phone png.png");
    background-position: center;
    background-size: cover;
}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>section>div:nth-child(3){
    background-image: url("../images/web/email png.png");
    background-position: center;
    background-size: cover;
}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(4){
    width: 130px;
    height: 133px;
    position: absolute;
    top: 235px;
    left: 95px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;

}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(4)>h3{
    margin: 0;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 20px;
}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(5){
    width: 340px;
    height: 133px;
    position: absolute;
    top: 235px;
    left: 280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(5)>h3{
    margin: 0;
    font-family: "Open Sans";
    font-weight: 450;
    font-size: 20px;
}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(6){
    width: 5px;
    height: 133px;
    position: absolute;
    top: 235px;
    left: 235px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(6)>h3{
    margin: 0;
    font-family: "Open Sans";
    font-size: 20px;
}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>h2{
    margin: 0;
    position: absolute;
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 30px;
    color: #2c3e50;
    bottom: 40px;
    left: 0px;
}

#myInterests{
    /*border: 1px solid red;*/
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 560px;
    height: 30px;
    bottom: 0px;
    left: 60px;
}

#myInterests>div{
    width: 40px;
    height: 100%;
}

#myInterests>div:nth-child(1){
    background-image: url("../images/web/music png.png");
    background-size: cover;
    background-position: center;
}

#myInterests>div:nth-child(2){
    background-image: url("../images/web/travel png.png");
    background-size: cover;
    background-position: center;
}

#myInterests>div:nth-child(3){
    background-image: url("../images/web/movie png.png");
    background-size: cover;
    background-position: center;
}

#interestLogo{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 620px;
    height: 26px;
    bottom: 0px;
    left: 100px;
}

#interestLogo>h3{
    margin: 0;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 20px;
}

#interestLogo>h3:nth-child(3){
    padding-right: 10px;
}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>article>p>a{
    color: #FF3366;
    text-decoration: none;
}

/* Responsive mobile(small) size */

@media all and (max-width: 320px){
    #aboutPage{
        position: absolute;
        top: 235px;
        width: 100%;
        height: 70%;
        background: #ECF0F1
    }

    #aboutPage>section:nth-child(1){
        position: absolute;
        width: 125px;
        height: 65px;
        top: 28px;
        left: 40%;
    }

    #aboutPage>section:nth-child(1)>h1{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 12px;
        color: #FF3366;

    }
    #aboutPage>section:nth-child(1)>h2{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 28px;
        color: #2c3e50;
    }
    #aboutPage>section:nth-child(2)>aside:nth-child(1)>div{
        position: absolute;
        background-image: url("../images/web/about image.jpg");
        background-size: cover;
        background-position: center;
        width: 70%;
        height: 270px;
        top: 100px;
        left: 49px;
        border-radius: 20px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2){
        position: absolute;
        top: 400px;
        left: 6%;
        width: 89%;
        height: 36%;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>article>p{
        position: relative;
        top: 0;
        left: 0px;
        margin: 0;
        width: 100%;
        font-family: "Open Sans";
        font-size: 14px;
        height: 50px;
    }
    #aboutPage>section:nth-child(2)>aside:nth-child(2)>button{
        position: absolute;
        background: #FF3366;
        width: 89px;
        height: 24px;
        top: 100px;
        left: 0px;
        border-radius: 10px;
        border: 0px;
        color: #D5D5D5;
        font-family: "Open Sans Semibold";
        font-size: 12px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(3){
        width: 30px;
        height: 133px;
        position: relative;
        top: 185px;
        left: 45px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;

    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section>div{
        width: 29px;
        height: 25px;

    }
}


