#aboutPage{
    position: absolute;
    top: 760px;
    width: 100%;
    height: 600px;
    background: #ECF0F1;
}

#aboutPage>section:nth-child(1){
    position: absolute;
    width: 125px;
    height: 65px;
    top: 30px;
    left: 45%;
}

#aboutPage>section:nth-child(1)>h1{
    position: relative;
    margin: 0;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 20px;
    color: #FF3366;

}
#aboutPage>section:nth-child(1)>h2{
    position: relative;
    margin: 0;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 40px;
    color: #2c3e50;
}

#aboutPage>section:nth-child(2)>aside:nth-child(1)>div{
    position: absolute;
    background-image: url("../images/web/about image.jpg");
    background-size: cover;
    background-position: center;
    width: 25%;
    height: 80%;
    top: 100px;
    left: 90px;
    border-radius: 50px;

}

#aboutPage>section:nth-child(2)>aside:nth-child(2){
    position: absolute;
    top: 20%;
    left: 35%;
    width: 58%;
    height: 77%;
}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>article>p{
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0;
    width: 75%;
    font-family: "Open Sans";
    font-size: 20px;
    height: 50px;
}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>button{
    position: absolute;
    background: #FF3366;
    width: 142px;
    height: 35px;
    top: 175px;
    left: 0px;
    border-radius: 10px;
    border: 0px;
    color: #D5D5D5;
    font-family: "Open Sans Semibold";
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(3){
    width: 30px;
    height: 133px;
    position: relative;
    top: 185px;
    left: 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;

}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>section>div{
    width: 29px;
    height: 25px;

}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>section>div:nth-child(1){
    background-image: url("../images/web/png name.png");
    background-position: center;
    background-size: cover;
}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>section>div:nth-child(2){
    background-image: url("../images/web/phone png.png");
    background-position: center;
    background-size: cover;
}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>section>div:nth-child(3){
    background-image: url("../images/web/email png.png");
    background-position: center;
    background-size: cover;
}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(4){
    width: 130px;
    height: 133px;
    position: absolute;
    top: 235px;
    left: 95px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;

}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(4)>h3{
    margin: 0;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 20px;
}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(5){
    width: 340px;
    height: 133px;
    position: absolute;
    top: 235px;
    left: 280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(5)>h3{
    margin: 0;
    font-family: "Open Sans";
    font-weight: 450;
    font-size: 20px;
}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(6){
    width: 5px;
    height: 133px;
    position: absolute;
    top: 235px;
    left: 235px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(6)>h3{
    margin: 0;
    font-family: "Open Sans";
    font-size: 20px;
}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>h2{
    margin: 0;
    position: absolute;
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 18px;
    color: #2c3e50;
    bottom: 32px;
    left: 51px;
}

#myInterests{
    /*border: 1px solid red;*/
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 560px;
    height: 30px;
    bottom: 0px;
    left: 60px;
}

#myInterests>div{
    width: 40px;
    height: 100%;
}

#myInterests>div:nth-child(1){
    background-image: url("../images/web/music png.png");
    background-size: cover;
    background-position: center;
}

#myInterests>div:nth-child(2){
    background-image: url("../images/web/travel png.png");
    background-size: cover;
    background-position: center;
}

#myInterests>div:nth-child(3){
    background-image: url("../images/web/movie png.png");
    background-size: cover;
    background-position: center;
}

#interestLogo{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 620px;
    height: 26px;
    bottom: 0px;
    left: 100px;
}

#interestLogo>h3{
    margin: 0;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 20px;
}

#interestLogo>h3:nth-child(3){
    padding-right: 10px;
}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>article>p>a{
    color: #FF3366;
    text-decoration: none;
}

/* Responsive Laptop(small) size */
@media all and (min-width: 1024px) and (max-width: 1439px) {
    #aboutPage{
        position: absolute;
        top: 673px;
        width: 100%;
        height: 720px;
        background: #ECF0F1;
    }

    #aboutPage>section:nth-child(1){
        position: absolute;
        width: 125px;
        height: 65px;
        top: 30px;
        left: 45%;
    }

    #aboutPage>section:nth-child(1)>h1{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 18px;
        color: #FF3366;

    }
    #aboutPage>section:nth-child(1)>h2{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 35px;
        color: #2c3e50;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(1)>div{
        position: absolute;
        background-image: url("../images/web/about image.jpg");
        background-size: cover;
        background-position: center;
        width: 25%;
        height: 50%;
        top: 185px;
        left: 90px;
        border-radius: 50px;

    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2){
        position: absolute;
        top: 26%;
        left: 39%;
        width: 58%;
        height: 77%;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>article>p{
        position: relative;
        top: 15px;
        left: 0px;
        margin: 0;
        width: 75%;
        font-family: "Open Sans";
        font-size: 20px;
        height: 50px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>button{
        position: absolute;
        background: #FF3366;
        width: 138px;
        height: 33px;
        top: 165px;
        left: 0px;
        border-radius: 10px;
        border: 0px;
        color: #D5D5D5;
        font-family: "Open Sans Semibold";
        font-size: 18px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(3){
        width: 30px;
        height: 133px;
        position: relative;
        top: 185px;
        left: 45px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;

    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section>div{
        width: 29px;
        height: 25px;

    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section>div:nth-child(1){
        background-image: url("../images/web/png name.png");
        background-position: center;
        background-size: cover;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section>div:nth-child(2){
        background-image: url("../images/web/phone png.png");
        background-position: center;
        background-size: cover;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section>div:nth-child(3){
        background-image: url("../images/web/email png.png");
        background-position: center;
        background-size: cover;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(4){
        width: 130px;
        height: 133px;
        position: absolute;
        top: 235px;
        left: 95px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;

    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(4)>h3{
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 20px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(5){
        width: 340px;
        height: 133px;
        position: absolute;
        top: 235px;
        left: 280px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(5)>h3{
        margin: 0;
        font-family: "Open Sans";
        font-weight: 450;
        font-size: 20px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(6){
        width: 5px;
        height: 133px;
        position: absolute;
        top: 235px;
        left: 235px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(6)>h3{
        margin: 0;
        font-family: "Open Sans";
        font-size: 20px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>h2{
        margin: 0;
        position: absolute;
        font-family: "Open Sans";
        font-weight: 500;
        font-size: 20px;
        color: #2c3e50;
        bottom: 120px;
        left: 12px;
    }

    #myInterests{
        /*border: 1px solid red;*/
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 480px;
        height: 30px;
        bottom: 70px;
        left: 20px;
    }

    #myInterests>div{
        width: 40px;
        height: 100%;
    }

    #myInterests>div:nth-child(1){
        background-image: url("../images/web/music png.png");
        background-size: cover;
        background-position: center;
    }

    #myInterests>div:nth-child(2){
        background-image: url("../images/web/travel png.png");
        background-size: cover;
        background-position: center;
    }

    #myInterests>div:nth-child(3){
        background-image: url("../images/web/movie png.png");
        background-size: cover;
        background-position: center;
    }

    #interestLogo{
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 520px;
        height: 20px;
        bottom: 75px;
        left: 70px;
    }

    #interestLogo>h3{
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 18px;
    }

    #interestLogo>h3:nth-child(3){
        padding-right: 10px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>article>p>a{
        color: #FF3366;
        text-decoration: none;
    }
}

/* Responsive Tablet size */
@media all and (min-width: 768px) and (max-width: 1023px) {
    #aboutPage{
        position: absolute;
        top: 462px;
        width: 100%;
        height: 128%;
        background: #ECF0F1
    }

    #aboutPage>section:nth-child(1){
        position: absolute;
        width: 125px;
        height: 65px;
        top: 45px;
        left: 40%;
    }

    #aboutPage>section:nth-child(1)>h1{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 13px;
        color: #FF3366;

    }
    #aboutPage>section:nth-child(1)>h2{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 29px;
        color: #2c3e50;
    }
    #aboutPage>section:nth-child(2)>aside:nth-child(1)>div{
        position: absolute;
        background-image: url("../images/web/about image.jpg");
        background-size: cover;
        background-position: center;
        width: 27%;
        height: 270px;
        top: 130px;
        left: 251px;
        border-radius: 20px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2){
        position: absolute;
        top: 400px;
        left: 6%;
        width: 89%;
        height: 45%;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>article>p{
        position: relative;
        top: 40px;
        left: 56px;
        margin: 0;
        width: 82%;
        font-family: "Open Sans";
        font-size: 17px;
        height: 50px;
    }
    #aboutPage>section:nth-child(2)>aside:nth-child(2)>button{
        position: absolute;
        background: #FF3366;
        width: 123px;
        height: 30px;
        top: 128px;
        left: 51px;
        border-radius: 10px;
        border: 0px;
        color: #D5D5D5;
        font-family: "Open Sans Semibold";
        font-size: 15px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(3){
        width: 35px;
        height: 130px;
        position: relative;
        top: 130px;
        left: 51px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;

    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section>div{
        width: 28px;
        height: 28px;

    }
    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section>div:nth-child(1){
        background-image: url("../images/web/png name.png");
        background-position: center;
        background-size: cover;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section>div:nth-child(2){
        background-image: url("../images/web/phone png.png");
        background-position: center;
        background-size: cover;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section>div:nth-child(3){
        background-image: url("../images/web/email png.png");
        background-position: center;
        background-size: cover;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(4){
        width: 76px;
        height: 118px;
        position: absolute;
        top: 186px;
        left: 105px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;

    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(4)>h3{
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 16px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(5){
        width: 198px;
        height: 117px;
        position: absolute;
        top: 187px;
        left: 244px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(5)>h3{
        margin: 0;
        font-family: "Open Sans";
        font-weight: 450;
        font-size: 16px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(6){
        width: 5px;
        height: 118px;
        position: absolute;
        top: 186px;
        left: 195px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(6)>h3{
        margin: 0;
        font-family: "Open Sans";
        font-size: 16px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>h2{
        margin: 0;
        position: absolute;
        font-family: "Open Sans";
        font-weight: 500;
        font-size: 17px;
        color: #2c3e50;
        bottom: 44px;
        left: 3px;
    }

    #myInterests{
        /*border: 1px solid red;*/
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 56vw;
        height: 28px;
        bottom: -10px;
        left: 51px;
    }

    #myInterests>div{
        width: 32px;
        height: 94%;
    }

    #myInterests>div:nth-child(1){
        background-image: url("../images/web/music png.png");
        background-size: cover;
        background-position: center;
    }

    #myInterests>div:nth-child(2){
        background-image: url("../images/web/travel png.png");
        background-size: cover;
        background-position: center;
    }

    #myInterests>div:nth-child(3){
        background-image: url("../images/web/movie png.png");
        background-size: cover;
        background-position: center;
    }

    #interestLogo{
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 466px;
        height: 15px;
        bottom: -3px;
        left: 95px;
    }

    #interestLogo>h3{
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 15px;
    }

    #interestLogo>h3:nth-child(3){
        padding-right: 10px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>article>p>a{
        color: #FF3366;
        text-decoration: none;
    }
}

/* Responsive mobile(large) size */
@media all and (min-width: 425px) and (max-width: 767px) {
    #aboutPage{
        position: absolute;
        top: 303px;
        width: 100%;
        height: 117%;
        background: #ECF0F1
    }

    #aboutPage>section:nth-child(1){
        position: absolute;
        width: 125px;
        height: 65px;
        top: 28px;
        left: 40%;
    }

    #aboutPage>section:nth-child(1)>h1{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 13px;
        color: #FF3366;

    }
    #aboutPage>section:nth-child(1)>h2{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 29px;
        color: #2c3e50;
    }
    #aboutPage>section:nth-child(2)>aside:nth-child(1)>div{
        position: absolute;
        background-image: url("../images/web/about image.jpg");
        background-size: cover;
        background-position: center;
        width: 55%;
        height: 270px;
        top: 100px;
        left: 92px;
        border-radius: 20px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2){
        position: absolute;
        top: 400px;
        left: 6%;
        width: 89%;
        height: 45%;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>article>p{
        position: relative;
        top: 0;
        left: 0px;
        margin: 0;
        width: 100%;
        font-family: "Open Sans";
        font-size: 16px;
        height: 50px;
    }
    #aboutPage>section:nth-child(2)>aside:nth-child(2)>button{
        position: absolute;
        background: #FF3366;
        width: 115px;
        height: 27px;
        top: 100px;
        left: 0px;
        border-radius: 10px;
        border: 0px;
        color: #D5D5D5;
        font-family: "Open Sans Semibold";
        font-size: 14px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(3){
        width: 26px;
        height: 114px;
        position: relative;
        top: 100px;
        left: 8px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;

    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section>div{
        width: 24px;
        height: 24px;

    }
    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section>div:nth-child(1){
        background-image: url("../images/web/png name.png");
        background-position: center;
        background-size: cover;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section>div:nth-child(2){
        background-image: url("../images/web/phone png.png");
        background-position: center;
        background-size: cover;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section>div:nth-child(3){
        background-image: url("../images/web/email png.png");
        background-position: center;
        background-size: cover;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(4){
        width: 76px;
        height: 107px;
        position: absolute;
        top: 153px;
        left: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;

    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(4)>h3{
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 15px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(5){
        width: 198px;
        height: 105px;
        position: absolute;
        top: 155px;
        left: 150px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(5)>h3{
        margin: 0;
        font-family: "Open Sans";
        font-weight: 450;
        font-size: 15px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(6){
        width: 5px;
        height: 105px;
        position: absolute;
        top: 154px;
        left: 124px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(6)>h3{
        margin: 0;
        font-family: "Open Sans";
        font-size: 15px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>h2{
        margin: 0;
        position: absolute;
        font-family: "Open Sans";
        font-weight: 500;
        font-size: 17px;
        color: #2c3e50;
        bottom: 44px;
        left: 3px;
    }

    #myInterests{
        /*border: 1px solid red;*/
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 67vw;
        height: 21px;
        bottom: 9px;
        left: 4px;
    }

    #myInterests>div{
        width: 25px;
        height: 85%;
    }

    #myInterests>div:nth-child(1){
        background-image: url("../images/web/music png.png");
        background-size: cover;
        background-position: center;
    }

    #myInterests>div:nth-child(2){
        background-image: url("../images/web/travel png.png");
        background-size: cover;
        background-position: center;
    }

    #myInterests>div:nth-child(3){
        background-image: url("../images/web/movie png.png");
        background-size: cover;
        background-position: center;
    }

    #interestLogo{
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 318px;
        height: 15px;
        bottom: 15px;
        left: 48px;
    }

    #interestLogo>h3{
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 14px;
    }

    #interestLogo>h3:nth-child(3){
        padding-right: 10px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>article>p>a{
        color: #FF3366;
        text-decoration: none;
    }
}

/* Responsive mobile(medium) size */

@media all and (min-width: 375px) and (max-width: 424px) {
    #aboutPage{
        position: absolute;
        top: 262px;
        width: 100%;
        height: 110%;
        background: #ECF0F1
    }

    #aboutPage>section:nth-child(1){
        position: absolute;
        width: 125px;
        height: 65px;
        top: 28px;
        left: 40%;
    }

    #aboutPage>section:nth-child(1)>h1{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 12px;
        color: #FF3366;

    }
    #aboutPage>section:nth-child(1)>h2{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 28px;
        color: #2c3e50;
    }
    #aboutPage>section:nth-child(2)>aside:nth-child(1)>div{
        position: absolute;
        background-image: url("../images/web/about image.jpg");
        background-size: cover;
        background-position: center;
        width: 63%;
        height: 270px;
        top: 100px;
        left: 70px;
        border-radius: 20px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2){
        position: absolute;
        top: 400px;
        left: 6%;
        width: 89%;
        height: 45%;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>article>p{
        position: relative;
        top: 0;
        left: 0px;
        margin: 0;
        width: 100%;
        font-family: "Open Sans";
        font-size: 15px;
        height: 50px;
    }
    #aboutPage>section:nth-child(2)>aside:nth-child(2)>button{
        position: absolute;
        background: #FF3366;
        width: 108px;
        height: 25px;
        top: 100px;
        left: 0px;
        border-radius: 10px;
        border: 0px;
        color: #D5D5D5;
        font-family: "Open Sans Semibold";
        font-size: 13px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(3){
        width: 24px;
        height: 110px;
        position: relative;
        top: 90px;
        left: 8px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;

    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section>div{
        width: 23px;
        height: 23px;

    }
    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section>div:nth-child(1){
        background-image: url("../images/web/png name.png");
        background-position: center;
        background-size: cover;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section>div:nth-child(2){
        background-image: url("../images/web/phone png.png");
        background-position: center;
        background-size: cover;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section>div:nth-child(3){
        background-image: url("../images/web/email png.png");
        background-position: center;
        background-size: cover;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(4){
        width: 73px;
        height: 107px;
        position: absolute;
        top: 141px;
        left: 45px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;

    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(4)>h3{
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 14px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(5){
        width: 198px;
        height: 105px;
        position: absolute;
        top: 142px;
        left: 120px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(5)>h3{
        margin: 0;
        font-family: "Open Sans";
        font-weight: 450;
        font-size: 15px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(6){
        width: 5px;
        height: 105px;
        position: absolute;
        top: 142px;
        left: 104px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(6)>h3{
        margin: 0;
        font-family: "Open Sans";
        font-size: 14px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>h2{
        margin: 0;
        position: absolute;
        font-family: "Open Sans";
        font-weight: 500;
        font-size: 17px;
        color: #2c3e50;
        bottom: 43px;
        left: 3px;
    }

    #myInterests{
        /*border: 1px solid red;*/
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 67vw;
        height: 21px;
        bottom: 9px;
        left: 4px;
    }

    #myInterests>div{
        width: 25px;
        height: 85%;
    }

    #myInterests>div:nth-child(1){
        background-image: url("../images/web/music png.png");
        background-size: cover;
        background-position: center;
    }

    #myInterests>div:nth-child(2){
        background-image: url("../images/web/travel png.png");
        background-size: cover;
        background-position: center;
    }

    #myInterests>div:nth-child(3){
        background-image: url("../images/web/movie png.png");
        background-size: cover;
        background-position: center;
    }

    #interestLogo{
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 270px;
        height: 15px;
        bottom: 15px;
        left: 48px;
    }

    #interestLogo>h3{
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 14px;
    }

    #interestLogo>h3:nth-child(3){
        padding-right: 10px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>article>p>a{
        color: #FF3366;
        text-decoration: none;
    }
}

/* Responsive mobile(small) size */

@media all and (max-width: 320px){
    #aboutPage{
        position: absolute;
        top: 235px;
        width: 100%;
        height: 110%;
        background: #ECF0F1
    }

    #aboutPage>section:nth-child(1){
        position: absolute;
        width: 125px;
        height: 65px;
        top: 28px;
        left: 40%;
    }

    #aboutPage>section:nth-child(1)>h1{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 12px;
        color: #FF3366;

    }
    #aboutPage>section:nth-child(1)>h2{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 28px;
        color: #2c3e50;
    }
    #aboutPage>section:nth-child(2)>aside:nth-child(1)>div{
        position: absolute;
        background-image: url("../images/web/about image.jpg");
        background-size: cover;
        background-position: center;
        width: 70%;
        height: 270px;
        top: 100px;
        left: 49px;
        border-radius: 20px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2){
        position: absolute;
        top: 400px;
        left: 6%;
        width: 89%;
        height: 45%;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>article>p{
        position: relative;
        top: 0;
        left: 0px;
        margin: 0;
        width: 100%;
        font-family: "Open Sans";
        font-size: 14px;
        height: 50px;
    }
    #aboutPage>section:nth-child(2)>aside:nth-child(2)>button{
        position: absolute;
        background: #FF3366;
        width: 89px;
        height: 24px;
        top: 100px;
        left: 0px;
        border-radius: 10px;
        border: 0px;
        color: #D5D5D5;
        font-family: "Open Sans Semibold";
        font-size: 12px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(3){
        width: 24px;
        height: 110px;
        position: relative;
        top: 90px;
        left: 8px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;

    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section>div{
        width: 20px;
        height: 20px;

    }
    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section>div:nth-child(1){
        background-image: url("../images/web/png name.png");
        background-position: center;
        background-size: cover;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section>div:nth-child(2){
        background-image: url("../images/web/phone png.png");
        background-position: center;
        background-size: cover;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section>div:nth-child(3){
        background-image: url("../images/web/email png.png");
        background-position: center;
        background-size: cover;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(4){
        width: 73px;
        height: 107px;
        position: absolute;
        top: 140px;
        left: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;

    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(4)>h3{
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 14px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(5){
        width: 198px;
        height: 105px;
        position: absolute;
        top: 140px;
        left: 103px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(5)>h3{
        margin: 0;
        font-family: "Open Sans";
        font-weight: 450;
        font-size: 14px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(6){
        width: 5px;
        height: 105px;
        position: absolute;
        top: 140px;
        left: 92px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>section:nth-child(6)>h3{
        margin: 0;
        font-family: "Open Sans";
        font-size: 14px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>h2{
        margin: 0;
        position: absolute;
        font-family: "Open Sans";
        font-weight: 500;
        font-size: 17px;
        color: #2c3e50;
        bottom: 43px;
        left: 3px;
    }

    #myInterests{
        /*border: 1px solid red;*/
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 67vw;
        height: 21px;
        bottom: 9px;
        left: 4px;
    }

    #myInterests>div{
        width: 25px;
        height: 85%;
    }

    #myInterests>div:nth-child(1){
        background-image: url("../images/web/music png.png");
        background-size: cover;
        background-position: center;
    }

    #myInterests>div:nth-child(2){
        background-image: url("../images/web/travel png.png");
        background-size: cover;
        background-position: center;
    }

    #myInterests>div:nth-child(3){
        background-image: url("../images/web/movie png.png");
        background-size: cover;
        background-position: center;
    }

    #interestLogo{
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 270px;
        height: 15px;
        bottom: 15px;
        left: 30px;
    }

    #interestLogo>h3{
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 14px;
    }

    #interestLogo>h3:nth-child(3){
        padding-right: 10px;
    }

    #aboutPage>section:nth-child(2)>aside:nth-child(2)>article>p>a{
        color: #FF3366;
        text-decoration: none;
    }
}


