#aboutPage{
    position: absolute;
    top: 760px;
    width: 100%;
    height: 600px;
    background: #ECF0F1;
}

#aboutPage>section:nth-child(1){
    position: absolute;
    width: 125px;
    height: 65px;
    top: 30px;
    left: 45%;
}

#aboutPage>section:nth-child(1)>h1{
    position: relative;
    margin: 0;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 20px;
    color: #FF3366;

}
#aboutPage>section:nth-child(1)>h2{
    position: relative;
    margin: 0;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 40px;
    color: #2c3e50;
}

#aboutPage>section:nth-child(2)>aside:nth-child(1)>div{
    position: absolute;
    background-image: url("../images/web/about image.jpg");
    background-size: cover;
    background-position: center;
    width: 25%;
    height: 80%;
    top: 100px;
    left: 90px;

}

#aboutPage>section:nth-child(2)>aside:nth-child(2){
    position: absolute;
    border: 1px solid red;
    top: 20%;
    left: 35%;
    width: 58%;
    height: 77%;
}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>article>p{
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0;
    width: 75%;
    font-family: "Open Sans";
    font-size: 20px;
    height: 50px;
}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>button{
    position: absolute;
    background: #FF3366;
    width: 142px;
    height: 35px;
    top: 175px;
    left: 0px;
    border-radius: 10px;
    border: 0px;
    color: #D5D5D5;
    font-family: "Open Sans Semibold";
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#aboutPage>section:nth-child(2)>aside:nth-child(2)>section{
    border: 1px solid red;
    width: 573px;
    height: 223px;
    position: relative;
    top: 185px;
    left: 45px;

}