#assPage{
    position: absolute;
    top: 3800px;
    width: 100%;
    height: 720px;
    background: #34495E;
    z-index: 2;
}

#assPage>section:nth-child(1){
    position: absolute;
    width: 250px;
    height: 70px;
    top: 65px;
    left: 40%;
}
#assPage>section:nth-child(1)>h3{
    position: relative;
    margin: 0;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 20px;
    color: #FF3366;

}
#assPage>section:nth-child(1)>h1{
    position: relative;
    margin: 0;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 40px;
    color: #ECF0F1;
    bottom: -5px;
}

#assPage>section:nth-child(2){
    position: absolute;
    width: 72%;
    height: 59%;
    top: 215px;
    left: 185px;
    display: flex;

    justify-content: space-between;
}
#assPage>section:nth-child(2)>div{
    background: #ECF0F1;
    width: 27%;
    height: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#Card01>div:nth-child(1),#Card02>div:nth-child(1),#Card03>div:nth-child(1){
    position: absolute;
    width: 27%;
    height: 234px;
}

#Card01>div:nth-child(1){
    background-image: url("../images/assignment_page_images/Assignment_01.png");
    background-position: center;
    background-size: cover;
}

#Card02>div:nth-child(1){
    background-image: url("../images/assignment_page_images/Assingment_POS.png");
    background-position: center;
    background-size: cover;
}
#Card03>div:nth-child(1){
    background-image: url("../images/assignment_page_images/assignment_calc.png");
    background-position: center;
    background-size: cover;
}

#Card01>div:nth-child(2)>button,#Card02>div:nth-child(2)>button,#Card03>div:nth-child(2)>button{
    position: relative;
    top: 285px;
    left: 37px;
    width: 200px;
    height: 35px;
    background: #2c3e50;
    font-family: "Open Sans Semibold", serif;
    font-size: 18px;
    color: #ECF0F1;
    border: 0;
    border-radius: 10px;
}



#Card01>div:nth-child(2)>h2,#Card02>div:nth-child(2)>h2,#Card03>div:nth-child(2)>h2{
    position: relative;
    top: 232px;
    left: 63px;
    font-size: 20px;
    color: #34495e;
    font-family: "Open Sans";
    font-weight: 650;
    width: max-content;
}

#Card01>div:nth-child(2)>p,#Card02>div:nth-child(2)>p,#Card03>div:nth-child(2)>p{
    position: relative;
    font-size: 15px;
    color: #34495e;
    font-family: "Open Sans";
    width: 286px;
    height: 30px;
    margin: 0;
    top: 238px;
    left: 19px;
}

/* Responsive mobile(medium) size */
@media all and (min-width: 375px) and (max-width: 424px) {
    #assPage{
        position: absolute;
        top: 4011px;
        width: 100%;
        height: 1166px;
        background: #34495E;
        z-index: 2;
    }

    #assPage>section:nth-child(1){
        position: absolute;
        width: 170px;
        height: 65px;
        top: 65px;
        left: 30%;
    }
    #assPage>section:nth-child(1)>h3{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 12px;
        color: #FF3366;

    }
    #assPage>section:nth-child(1)>h1{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 28px;
        color: #ECF0F1;
        bottom: -5px;
    }

    #assPage>section:nth-child(2){
        position: absolute;
        width: 82%;
        height: 71%;
        top: 215px;
        left: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #assPage>section:nth-child(2)>div{
        background: #ECF0F1;
        width: 100%;
        height: 30%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    #Card01>div:nth-child(1),#Card02>div:nth-child(1),#Card03>div:nth-child(1){
        position: absolute;
        width: 100%;
        height: 130px;
    }

    #Card01>div:nth-child(1){
        background-image: url("../images/assignment_page_images/Assignment_01.png");
        background-position: center;
        background-size: cover;
    }

    #Card02>div:nth-child(1){
        background-image: url("../images/assignment_page_images/Assingment_POS.png");
        background-position: center;
        background-size: cover;
    }
    #Card03>div:nth-child(1){
        background-image: url("../images/assignment_page_images/assignment_calc.png");
        background-position: center;
        background-size: cover;
    }

    #Card01>div:nth-child(2)>button,#Card02>div:nth-child(2)>button,#Card03>div:nth-child(2)>button{
        position: relative;
        top: 139px;
        left: 65px;
        width: 136px;
        height: 26px;
        background: #2c3e50;
        font-family: "Open Sans Semibold", serif;
        font-size: 13px;
        color: #ECF0F1;
        border: 0;
        border-radius: 10px;
    }



    #Card01>div:nth-child(2)>h2,#Card02>div:nth-child(2)>h2,#Card03>div:nth-child(2)>h2{
        position: relative;
        top: 135px;
        left: 70px;
        font-size: 15px;
        color: #34495e;
        font-family: "Open Sans";
        font-weight: 650;
        width: max-content;
    }

    #Card01>div:nth-child(2)>p,#Card02>div:nth-child(2)>p,#Card03>div:nth-child(2)>p{
        position: relative;
        font-size: 12px;
        color: #34495e;
        font-family: "Open Sans";
        width: 234px;
        height: 30px;
        margin: 0;
        top: 130px;
        left: 19px;
    }
}

/* Responsive mobile(small) size */
@media all and (max-width: 320px){
    #assPage{
        position: absolute;
        top: 4011px;
        width: 100%;
        height: 1166px;
        background: #34495E;
        z-index: 2;
    }

    #assPage>section:nth-child(1){
        position: absolute;
        width: 170px;
        height: 65px;
        top: 65px;
        left: 30%;
    }
    #assPage>section:nth-child(1)>h3{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 12px;
        color: #FF3366;

    }
    #assPage>section:nth-child(1)>h1{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 28px;
        color: #ECF0F1;
        bottom: -5px;
    }

    #assPage>section:nth-child(2){
        position: absolute;
        width: 82%;
        height: 71%;
        top: 215px;
        left: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #assPage>section:nth-child(2)>div{
        background: #ECF0F1;
        width: 100%;
        height: 30%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    #Card01>div:nth-child(1),#Card02>div:nth-child(1),#Card03>div:nth-child(1){
        position: absolute;
        width: 100%;
        height: 130px;
    }

    #Card01>div:nth-child(1){
        background-image: url("../images/assignment_page_images/Assignment_01.png");
        background-position: center;
        background-size: cover;
    }

    #Card02>div:nth-child(1){
        background-image: url("../images/assignment_page_images/Assingment_POS.png");
        background-position: center;
        background-size: cover;
    }
    #Card03>div:nth-child(1){
        background-image: url("../images/assignment_page_images/assignment_calc.png");
        background-position: center;
        background-size: cover;
    }

    #Card01>div:nth-child(2)>button,#Card02>div:nth-child(2)>button,#Card03>div:nth-child(2)>button{
        position: relative;
        top: 139px;
        left: 65px;
        width: 136px;
        height: 26px;
        background: #2c3e50;
        font-family: "Open Sans Semibold", serif;
        font-size: 13px;
        color: #ECF0F1;
        border: 0;
        border-radius: 10px;
    }



    #Card01>div:nth-child(2)>h2,#Card02>div:nth-child(2)>h2,#Card03>div:nth-child(2)>h2{
        position: relative;
        top: 135px;
        left: 70px;
        font-size: 15px;
        color: #34495e;
        font-family: "Open Sans";
        font-weight: 650;
        width: max-content;
    }

    #Card01>div:nth-child(2)>p,#Card02>div:nth-child(2)>p,#Card03>div:nth-child(2)>p{
        position: relative;
        font-size: 12px;
        color: #34495e;
        font-family: "Open Sans";
        width: 234px;
        height: 30px;
        margin: 0;
        top: 130px;
        left: 19px;
    }
}




