#contactMePage{
    position: absolute;
    top: 4520px;
    width: 100%;
    height: 650px;
    background: #2c3e50;
}

#contactMePage>section:nth-child(1){
    position: relative;
    width: 250px;
    height: 70px;
    top: 50px;
    left: 45%;
}

#contactMePage>section:nth-child(1)>h3{
    position: relative;
    margin: 0;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 20px;
    color: #FF3366;
}
#contactMePage>section:nth-child(1)>h1{
    position: relative;
    margin: 0;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 40px;
    color: #ECF0F1;
    bottom: -5px;
}

#contactMePage>section:nth-child(2){
    position: relative;
    width: 1020px;
    height: 390px;
    top: 130px;
    left: 220px;
}

#contactMePage>section:nth-child(2)>form{
    background: #34495E;
    border-radius: 30px;
    width: 100%;
    height: 100%;
}
#contactMePage>section:nth-child(2)>form>fieldset{
    border: 0px;
}
#contactMePage>section:nth-child(2)>form>fieldset>input{
    border-radius: 10px;
}
#contactMePage>section:nth-child(2)>form>fieldset>input::placeholder{
    position: relative;
    font-family: "Open Sans Semibold";
    font-size: 16px;
    left: 10px;
}

#contactMePage>section:nth-child(2)>form>fieldset>input:nth-child(1){
    position: relative;
    width: 250px;
    height: 28px;
    top: 30px;
    left: 20px
}
#contactMePage>section:nth-child(2)>form>fieldset>input:nth-child(2){
    position: absolute;
    width: 280px;
    height: 28px;
    top: 35px;
    left: 375px;
}
#contactMePage>section:nth-child(2)>form>fieldset>input:nth-child(3){
    position: absolute;
    width: 620px;
    height: 28px;
    top: 100px;
    left: 34px;
}
#contactMePage>section:nth-child(2)>form>fieldset>input:nth-child(4){
    position: absolute;
    width: 620px;
    height: 150px;
    top: 165px;
    left: 34px;
}

#contactMePage>section:nth-child(2)>form>fieldset>button{
    position: absolute;
    background: #FF3366;
    bottom: 15px;
    left: 35px;
    border-color: #FF3366;
    width: 135px;
    height: 35px;
    border-radius: 10px;
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: 500;
    color: #ECF0F1;
}
#contactMePage>section:nth-child(2)>aside:nth-child(2){
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70px;
    height: 240px;
    top: 40px;
    right: 240px;
}
#contactMePage>section:nth-child(2)>aside:nth-child(2)>div{
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
}
#contactMePage>section:nth-child(2)>aside:nth-child(2)>div:nth-child(1){
    background-image: url("../images/web/call new png.png");
}
#contactMePage>section:nth-child(2)>aside:nth-child(2)>div:nth-child(2){
    background-image: url("../images/web/email png.png");
}
#contactMePage>section:nth-child(2)>aside:nth-child(2)>div:nth-child(3){
    background-image: url("../images/web/location new png.png");
}

#contactMePage>section:nth-child(2)>div>h1{
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 20px;
    color: #ECF0F1;
    margin: 0;
}
#contactMePage>section:nth-child(2)>div>h3,#contactMePage>section:nth-child(2)>div>address>h3{
    font-family: "Open Sans Semibold";
    font-size: 14px;
    color: #ECF0F1;
    margin-top: 8px;
}

#contactMePage>section:nth-child(2)>div:nth-child(3){
    position: absolute;
    width: 160px;
    height: 100px;
    top: 40px;
    right: 70px;
}
#contactMePage>section:nth-child(2)>div:nth-child(4){
    position: absolute;
    width: 160px;
    height: 100px;
    top: 141px;
    right: 70px;
}
#contactMePage>section:nth-child(2)>div:nth-child(5){
    position: absolute;
    width: 160px;
    height: 100px;
    top: 241px;
    right: 70px;
}
#contactMePage>section:nth-child(2)>div>address>h3{
    margin-bottom: 0px;
}

/* Responsive Laptop(small) size */
@media all and (min-width: 1024px) and (max-width: 1439px) {
    #contactMePage{
        position: absolute;
        top: 3809px;
        width: 100%;
        height: 650px;
        background: #2c3e50;
    }

    #contactMePage>section:nth-child(1){
        position: relative;
        width: 250px;
        height: 70px;
        top: 60px;
        left: 40%;
    }

    #contactMePage>section:nth-child(1)>h3{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 18px;
        color: #FF3366;
    }
    #contactMePage>section:nth-child(1)>h1{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 35px;
        color: #ECF0F1;
        bottom: -5px;
    }

    #contactMePage>section:nth-child(2){
        position: relative;
        width: 867px;
        height: 390px;
        top: 130px;
        left: 82px;
    }

    #contactMePage>section:nth-child(2)>form{
        background: #34495E;
        border-radius: 30px;
        width: 100%;
        height: 100%;
    }
    #contactMePage>section:nth-child(2)>form>fieldset{
        border: 0px;
    }
    #contactMePage>section:nth-child(2)>form>fieldset>input{
        border-radius: 10px;
    }
    #contactMePage>section:nth-child(2)>form>fieldset>input::placeholder{
        position: relative;
        font-family: "Open Sans Semibold";
        font-size: 17px;
        left: 10px;
    }

    #contactMePage>section:nth-child(2)>form>fieldset>input:nth-child(1){
        position: relative;
        width: 190px;
        height: 28px;
        top: 30px;
        left: 20px;
    }
    #contactMePage>section:nth-child(2)>form>fieldset>input:nth-child(2){
        position: absolute;
        width: 220px;
        height: 28px;
        top: 35px;
        left: 280px;
    }
    #contactMePage>section:nth-child(2)>form>fieldset>input:nth-child(3){
        position: absolute;
        width: 465px;
        height: 28px;
        top: 100px;
        left: 34px;
    }

    #contactMePage>section:nth-child(2)>form>fieldset>input:nth-child(4){
        position: absolute;
        width: 465px;
        height: 150px;
        top: 165px;
        left: 34px;
    }

    #contactMePage>section:nth-child(2)>form>fieldset>button{
        position: absolute;
        background: #FF3366;
        bottom: 15px;
        left: 35px;
        border-color: #FF3366;
        width: 135px;
        height: 35px;
        border-radius: 10px;
        font-size: 16px;
        font-family: "Open Sans";
        font-weight: 500;
        color: #ECF0F1;
    }
    #contactMePage>section:nth-child(2)>aside:nth-child(2){
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 70px;
        height: 240px;
        top: 40px;
        right: 240px;
    }
    #contactMePage>section:nth-child(2)>aside:nth-child(2)>div{
        width: 40px;
        height: 40px;
        background-position: center;
        background-size: cover;
    }
    #contactMePage>section:nth-child(2)>aside:nth-child(2)>div:nth-child(1){
        background-image: url("../images/web/call new png.png");
    }
    #contactMePage>section:nth-child(2)>aside:nth-child(2)>div:nth-child(2){
        background-image: url("../images/web/email png.png");
    }
    #contactMePage>section:nth-child(2)>aside:nth-child(2)>div:nth-child(3){
        background-image: url("../images/web/location new png.png");
    }

    #contactMePage>section:nth-child(2)>div>h1{
        font-family: "Open Sans";
        font-weight: 500;
        font-size: 20px;
        color: #ECF0F1;
        margin: 0;
    }
    #contactMePage>section:nth-child(2)>div>h3,#contactMePage>section:nth-child(2)>div>address>h3{
        font-family: "Open Sans Semibold";
        font-size: 14px;
        color: #ECF0F1;
        margin-top: 8px;
    }

    #contactMePage>section:nth-child(2)>div:nth-child(3){
        position: absolute;
        width: 160px;
        height: 100px;
        top: 40px;
        right: 70px;
    }
    #contactMePage>section:nth-child(2)>div:nth-child(4){
        position: absolute;
        width: 160px;
        height: 100px;
        top: 141px;
        right: 70px;
    }
    #contactMePage>section:nth-child(2)>div:nth-child(5){
        position: absolute;
        width: 160px;
        height: 100px;
        top: 241px;
        right: 70px;
    }
    #contactMePage>section:nth-child(2)>div>address>h3{
        margin-bottom: 0px;
    }
}

/* Responsive Tablet size */
@media all and (min-width: 768px) and (max-width: 1023px) {
    #contactMePage{
        position: absolute;
        top: 3684px;
        width: 100%;
        height: 1230px;
        background: #2c3e50;
    }

    #contactMePage>section:nth-child(1){
        position: absolute;
        width: 200px;
        height: 70px;
        top: 65px;
        left: 40%;
    }

    #contactMePage>section:nth-child(1)>h3{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 14px;
        color: #FF3366;
    }
    #contactMePage>section:nth-child(1)>h1{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 30px;
        color: #ECF0F1;
        bottom: -5px;
    }

    #contactMePage>section:nth-child(2){
        position: absolute;
        width: 82%;
        height: 963px;
        top: 150px;
        left: 71px;
        margin: 0;
    }

    #contactMePage>section:nth-child(2)>form{
        background: #34495E;
        border-radius: 30px;
        width: 100%;
        height: 105%;
    }
    #contactMePage>section:nth-child(2)>form>fieldset{
        border: 0px;
    }
    #contactMePage>section:nth-child(2)>form>fieldset>input{
        border-radius: 10px;
    }
    #contactMePage>section:nth-child(2)>form>fieldset>input::placeholder{
        position: relative;
        font-family: "Open Sans Semibold";
        font-size: 14px;
        left: 10px;
    }

    #contactMePage>section:nth-child(2)>form>fieldset>input:nth-child(1){
        position: relative;
        width: 250px;
        height: 28px;
        top: 30px;
        left: 20px;
    }
    #contactMePage>section:nth-child(2)>form>fieldset>input:nth-child(2){
        position: absolute;
        width: 260px;
        height: 28px;
        top: 35px;
        left: 322px;
    }
    #contactMePage>section:nth-child(2)>form>fieldset>input:nth-child(3){
        position: absolute;
        width: 547px;
        height: 28px;
        top: 110px;
        left: 33px;
    }
    #contactMePage>section:nth-child(2)>form>fieldset>input:nth-child(4){
        position: absolute;
        width: 546px;
        height: 165px;
        top: 186px;
        left: 33px;
    }

    #contactMePage>section:nth-child(2)>form>fieldset>button{
        position: absolute;
        background: #FF3366;
        bottom: 525px;
        left: 37px;
        border-color: #FF3366;
        width: 137px;
        height: 33px;
        border-radius: 10px;
        font-size: 17px;
        font-family: "Open Sans";
        font-weight: 500;
        color: #ECF0F1;
    }
    #contactMePage>section:nth-child(2)>aside:nth-child(2){
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 60px;
        height: 350px;
        top: 498px;
        right: 290px;
    }
    #contactMePage>section:nth-child(2)>aside:nth-child(2)>div{
        width: 52px;
        height: 52px;
        background-position: center;
        background-size: cover;
    }
    #contactMePage>section:nth-child(2)>aside:nth-child(2)>div:nth-child(1){
        background-image: url("../images/web/call new png.png");
    }
    #contactMePage>section:nth-child(2)>aside:nth-child(2)>div:nth-child(2){
        background-image: url("../images/web/email png.png");
    }
    #contactMePage>section:nth-child(2)>aside:nth-child(2)>div:nth-child(3){
        background-image: url("../images/web/location new png.png");
    }

    #contactMePage>section:nth-child(2)>div>h1{
        font-family: "Open Sans";
        font-weight: 500;
        font-size: 19px;
        color: #ECF0F1;
        margin: 0;
    }
    #contactMePage>section:nth-child(2)>div>h3,#contactMePage>section:nth-child(2)>div>address>h3{
        font-family: "Open Sans Semibold";
        font-size: 14px;
        color: #ECF0F1;
        margin-top: 8px;
    }

    #contactMePage>section:nth-child(2)>div:nth-child(3){
        position: absolute;
        width: 160px;
        height: 100px;
        top: 560px;
        right: 196px;
    }
    #contactMePage>section:nth-child(2)>div:nth-child(4){
        position: absolute;
        width: 160px;
        height: 100px;
        top: 705px;
        right: 185px;
    }
    #contactMePage>section:nth-child(2)>div:nth-child(5){
        position: absolute;
        width: 160px;
        height: 100px;
        top: 852px;
        right: 196px;
    }

    #contactMePage>section:nth-child(2)>div:nth-child(3)>h3{
        position: absolute;
        left: -15px;
    }
    #contactMePage>section:nth-child(2)>div:nth-child(4)>h3{
        position: absolute;
        left: -70px;
    }

    #contactMePage>section:nth-child(2)>div>address{
        position: absolute;
        left: 7px;
    }

    #contactMePage>section:nth-child(2)>div>address>h3{
        margin-bottom: 0px;
    }
}

/* Responsive mobile(large) size */
@media all and (min-width: 425px) and (max-width: 767px) {
    #contactMePage{
        position: absolute;
        top: 4337px;
        width: 100%;
        height: 1170px;
        background: #2c3e50;
    }

    #contactMePage>section:nth-child(1){
        position: absolute;
        width: 200px;
        height: 70px;
        top: 50px;
        left: 35%;
    }

    #contactMePage>section:nth-child(1)>h3{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 14px;
        color: #FF3366;
    }
    #contactMePage>section:nth-child(1)>h1{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 30px;
        color: #ECF0F1;
        bottom: -5px;
    }

    #contactMePage>section:nth-child(2){
        position: absolute;
        width: 80%;
        height: 963px;
        top: 150px;
        left: 44px;
        margin: 0;
    }

    #contactMePage>section:nth-child(2)>form{
        background: #34495E;
        border-radius: 30px;
        width: 100%;
        height: 100%;
    }
    #contactMePage>section:nth-child(2)>form>fieldset{
        border: 0px;
    }
    #contactMePage>section:nth-child(2)>form>fieldset>input{
        border-radius: 10px;
    }
    #contactMePage>section:nth-child(2)>form>fieldset>input::placeholder{
        position: relative;
        font-family: "Open Sans Semibold";
        font-size: 14px;
        left: 10px;
    }

    #contactMePage>section:nth-child(2)>form>fieldset>input:nth-child(1){
        position: relative;
        width: 250px;
        height: 28px;
        top: 30px;
        left: 25px;
    }
    #contactMePage>section:nth-child(2)>form>fieldset>input:nth-child(2){
        position: absolute;
        width: 250px;
        height: 28px;
        top: 95px;
        left: 38px;
    }
    #contactMePage>section:nth-child(2)>form>fieldset>input:nth-child(3){
        position: absolute;
        width: 250px;
        height: 28px;
        top: 153px;
        left: 38px;
    }
    #contactMePage>section:nth-child(2)>form>fieldset>input:nth-child(4){
        position: absolute;
        width: 250px;
        height: 150px;
        top: 213px;
        left: 38px;
    }

    #contactMePage>section:nth-child(2)>form>fieldset>button{
        position: absolute;
        background: #FF3366;
        bottom: 525px;
        left: 71px;
        border-color: #FF3366;
        width: 190px;
        height: 33px;
        border-radius: 10px;
        font-size: 16px;
        font-family: "Open Sans";
        font-weight: 500;
        color: #ECF0F1;
    }
    #contactMePage>section:nth-child(2)>aside:nth-child(2){
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 40px;
        height: 325px;
        top: 498px;
        right: 150px;
    }
    #contactMePage>section:nth-child(2)>aside:nth-child(2)>div{
        width: 48px;
        height: 48px;
        background-position: center;
        background-size: cover;
    }
    #contactMePage>section:nth-child(2)>aside:nth-child(2)>div:nth-child(1){
        background-image: url("../images/web/call new png.png");
    }
    #contactMePage>section:nth-child(2)>aside:nth-child(2)>div:nth-child(2){
        background-image: url("../images/web/email png.png");
    }
    #contactMePage>section:nth-child(2)>aside:nth-child(2)>div:nth-child(3){
        background-image: url("../images/web/location new png.png");
    }

    #contactMePage>section:nth-child(2)>div>h1{
        font-family: "Open Sans";
        font-weight: 500;
        font-size: 17px;
        color: #ECF0F1;
        margin: 0;
    }
    #contactMePage>section:nth-child(2)>div>h3,#contactMePage>section:nth-child(2)>div>address>h3{
        font-family: "Open Sans Semibold";
        font-size: 13px;
        color: #ECF0F1;
        margin-top: 8px;
    }

    #contactMePage>section:nth-child(2)>div:nth-child(3){
        position: absolute;
        width: 160px;
        height: 100px;
        top: 557px;
        right: 42px;
    }
    #contactMePage>section:nth-child(2)>div:nth-child(4){
        position: absolute;
        width: 160px;
        height: 100px;
        top: 692px;
        right: 31px;
    }
    #contactMePage>section:nth-child(2)>div:nth-child(5){
        position: absolute;
        width: 160px;
        height: 100px;
        top: 832px;
        right: 42px;
    }

    #contactMePage>section:nth-child(2)>div:nth-child(3)>h3{
        position: absolute;
        left: -15px;
    }
    #contactMePage>section:nth-child(2)>div:nth-child(4)>h3{
        position: absolute;
        left: -70px;
    }

    #contactMePage>section:nth-child(2)>div>address{
        position: absolute;
        left: 7px;
    }

    #contactMePage>section:nth-child(2)>div>address>h3{
        margin-bottom: 0px;
    }
}

/* Responsive mobile(medium) size */

@media all and (min-width: 375px) and (max-width: 424px) {
    #contactMePage{
        position: absolute;
        top: 4040px;
        width: 100%;
        height: 1170px;
        background: #2c3e50;
    }

    #contactMePage>section:nth-child(1){
        position: absolute;
        width: 200px;
        height: 70px;
        top: 50px;
        left: 35%;
    }

    #contactMePage>section:nth-child(1)>h3{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 13px;
        color: #FF3366;
    }
    #contactMePage>section:nth-child(1)>h1{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 29px;
        color: #ECF0F1;
        bottom: -5px;
    }

    #contactMePage>section:nth-child(2){
        position: absolute;
        width: 80%;
        height: 963px;
        top: 150px;
        left: 35px;
        margin: 0;
    }

    #contactMePage>section:nth-child(2)>form{
        background: #34495E;
        border-radius: 30px;
        width: 100%;
        height: 100%;
    }
    #contactMePage>section:nth-child(2)>form>fieldset{
        border: 0px;
    }
    #contactMePage>section:nth-child(2)>form>fieldset>input{
        border-radius: 10px;
    }
    #contactMePage>section:nth-child(2)>form>fieldset>input::placeholder{
        position: relative;
        font-family: "Open Sans Semibold";
        font-size: 14px;
        left: 10px;
    }

    #contactMePage>section:nth-child(2)>form>fieldset>input:nth-child(1){
        position: relative;
        width: 210px;
        height: 25px;
        top: 30px;
        left: 25px;
    }
    #contactMePage>section:nth-child(2)>form>fieldset>input:nth-child(2){
        position: absolute;
        width: 200px;
        height: 23px;
        top: 95px;
        left: 25px;
    }
    #contactMePage>section:nth-child(2)>form>fieldset>input:nth-child(3){
        position: absolute;
        width: 210px;
        height: 23px;
        top: 153px;
        left: 25px;
    }
    #contactMePage>section:nth-child(2)>form>fieldset>input:nth-child(4){
        position: absolute;
        width: 210px;
        height: 150px;
        top: 213px;
        left: 25px;
    }

    #contactMePage>section:nth-child(2)>form>fieldset>button{
        position: absolute;
        background: #FF3366;
        bottom: 525px;
        left: 70px;
        border-color: #FF3366;
        width: 135px;
        height: 30px;
        border-radius: 10px;
        font-size: 15px;
        font-family: "Open Sans";
        font-weight: 500;
        color: #ECF0F1;
    }
    #contactMePage>section:nth-child(2)>aside:nth-child(2){
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 40px;
        height: 300px;
        top: 498px;
        right: 130px;
    }
    #contactMePage>section:nth-child(2)>aside:nth-child(2)>div{
        width: 48px;
        height: 48px;
        background-position: center;
        background-size: cover;
    }
    #contactMePage>section:nth-child(2)>aside:nth-child(2)>div:nth-child(1){
        background-image: url("../images/web/call new png.png");
    }
    #contactMePage>section:nth-child(2)>aside:nth-child(2)>div:nth-child(2){
        background-image: url("../images/web/email png.png");
    }
    #contactMePage>section:nth-child(2)>aside:nth-child(2)>div:nth-child(3){
        background-image: url("../images/web/location new png.png");
    }

    #contactMePage>section:nth-child(2)>div>h1{
        font-family: "Open Sans";
        font-weight: 500;
        font-size: 17px;
        color: #ECF0F1;
        margin: 0;
    }
    #contactMePage>section:nth-child(2)>div>h3,#contactMePage>section:nth-child(2)>div>address>h3{
        font-family: "Open Sans Semibold";
        font-size: 13px;
        color: #ECF0F1;
        margin-top: 8px;
    }

    #contactMePage>section:nth-child(2)>div:nth-child(3){
        position: absolute;
        width: 160px;
        height: 100px;
        top: 557px;
        right: 22px;
    }
    #contactMePage>section:nth-child(2)>div:nth-child(4){
        position: absolute;
        width: 160px;
        height: 100px;
        top: 674px;
        right: 10px;
    }
    #contactMePage>section:nth-child(2)>div:nth-child(5){
        position: absolute;
        width: 160px;
        height: 100px;
        top: 810px;
        right: 23px;
    }

    #contactMePage>section:nth-child(2)>div:nth-child(3)>h3{
        position: absolute;
        left: -15px;
    }
    #contactMePage>section:nth-child(2)>div:nth-child(4)>h3{
        position: absolute;
        left: -70px;
    }

    #contactMePage>section:nth-child(2)>div>address{
        position: absolute;
        left: 7px;
    }

    #contactMePage>section:nth-child(2)>div>address>h3{
        margin-bottom: 0px;
    }
}

/* Responsive mobile(small) size */

@media all and (max-width: 320px){
    #contactMePage{
        position: absolute;
        top: 4010px;
        width: 100%;
        height: 1170px;
        background: #2c3e50;
    }

    #contactMePage>section:nth-child(1){
        position: absolute;
        width: 200px;
        height: 70px;
        top: 50px;
        left: 35%;
    }

    #contactMePage>section:nth-child(1)>h3{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 12px;
        color: #FF3366;
    }
    #contactMePage>section:nth-child(1)>h1{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 28px;
        color: #ECF0F1;
        bottom: -5px;
    }

    #contactMePage>section:nth-child(2){
        position: absolute;
        width: 80%;
        height: 963px;
        top: 150px;
        left: 35px;
        margin: 0;
    }

    #contactMePage>section:nth-child(2)>form{
        background: #34495E;
        border-radius: 30px;
        width: 100%;
        height: 100%;
    }
    #contactMePage>section:nth-child(2)>form>fieldset{
        border: 0px;
    }
    #contactMePage>section:nth-child(2)>form>fieldset>input{
        border-radius: 10px;
    }
    #contactMePage>section:nth-child(2)>form>fieldset>input::placeholder{
        position: relative;
        font-family: "Open Sans Semibold";
        font-size: 13px;
        left: 10px;
    }

    #contactMePage>section:nth-child(2)>form>fieldset>input:nth-child(1){
        position: relative;
        width: 200px;
        height: 23px;
        top: 30px;
        left: 10px;
    }
    #contactMePage>section:nth-child(2)>form>fieldset>input:nth-child(2){
        position: absolute;
        width: 200px;
        height: 23px;
        top: 95px;
        left: 25px;
    }
    #contactMePage>section:nth-child(2)>form>fieldset>input:nth-child(3){
        position: absolute;
        width: 200px;
        height: 23px;
        top: 153px;
        left: 25px;
    }
    #contactMePage>section:nth-child(2)>form>fieldset>input:nth-child(4){
        position: absolute;
        width: 200px;
        height: 150px;
        top: 213px;
        left: 25px;
    }

    #contactMePage>section:nth-child(2)>form>fieldset>button{
        position: absolute;
        background: #FF3366;
        bottom: 525px;
        left: 65px;
        border-color: #FF3366;
        width: 131px;
        height: 24px;
        border-radius: 10px;
        font-size: 14px;
        font-family: "Open Sans";
        font-weight: 500;
        color: #ECF0F1;
    }
    #contactMePage>section:nth-child(2)>aside:nth-child(2){
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 40px;
        height: 300px;
        top: 498px;
        right: 110px;
    }
    #contactMePage>section:nth-child(2)>aside:nth-child(2)>div{
        width: 40px;
        height: 40px;
        background-position: center;
        background-size: cover;
    }
    #contactMePage>section:nth-child(2)>aside:nth-child(2)>div:nth-child(1){
        background-image: url("../images/web/call new png.png");
    }
    #contactMePage>section:nth-child(2)>aside:nth-child(2)>div:nth-child(2){
        background-image: url("../images/web/email png.png");
    }
    #contactMePage>section:nth-child(2)>aside:nth-child(2)>div:nth-child(3){
        background-image: url("../images/web/location new png.png");
    }

    #contactMePage>section:nth-child(2)>div>h1{
        font-family: "Open Sans";
        font-weight: 500;
        font-size: 16px;
        color: #ECF0F1;
        margin: 0;
    }
    #contactMePage>section:nth-child(2)>div>h3,#contactMePage>section:nth-child(2)>div>address>h3{
        font-family: "Open Sans Semibold";
        font-size: 12px;
        color: #ECF0F1;
        margin-top: 8px;
    }

    #contactMePage>section:nth-child(2)>div:nth-child(3){
        position: absolute;
        width: 160px;
        height: 100px;
        top: 555px;
        right: -1px;
    }
    #contactMePage>section:nth-child(2)>div:nth-child(4){
        position: absolute;
        width: 160px;
        height: 100px;
        top: 672px;
        right: -10px;
    }
    #contactMePage>section:nth-child(2)>div:nth-child(5){
        position: absolute;
        width: 160px;
        height: 100px;
        top: 810px;
        right: -3px;
    }

    #contactMePage>section:nth-child(2)>div:nth-child(3)>h3{
        position: absolute;
        left: -15px;
    }
    #contactMePage>section:nth-child(2)>div:nth-child(4)>h3{
        position: absolute;
        left: -70px;
    }

    #contactMePage>section:nth-child(2)>div>address{
        position: absolute;
        left: 7px;
    }

    #contactMePage>section:nth-child(2)>div>address>h3{
        margin-bottom: 0px;
    }
}
