header{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    width: 100%;
    height: 60px;
    background: white;
    position: fixed;
    z-index: 5;
    top: 0;

}

header>nav>ul{
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
}

header>nav>ul>li{
    display: inline;
    padding-left: 25px;
    font-family: "Open Sans Semibold";
}
header>nav>ul>li>a{
    text-decoration: none;
    color: #2c3e50;

}

header>div{
    position: absolute;
    top: 18px;
    left: 15px;
    width: 30px;
    height: 50%;
}

header>div>img{
    position: absolute;
    height: 100%;
    width: 30px;
    border-radius: 110px;
}

header>h2{
    position: absolute;
    font-family: "Open Sans Semibold";
    font-weight: bold;
    top: 20px;
    left: 55px;
    font-size: 20px;
    margin: 0;
}

/* Responsive Laptop(small) size */
@media all and (min-width: 1024px) and (max-width: 1440px) {
    header{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        width: 100%;
        height: 55px;
        background: white;
        position: fixed;
        z-index: 5;
        top: 0;

    }

    header>nav>ul{
        position: absolute;
        top: 0;
        right: 15px;
        font-size: 19px;
        font-weight: bold;
    }

    header>nav>ul>li{
        display: inline;
        padding-left: 25px;
        font-family: "Open Sans Semibold";
    }

    header>div{
        position: absolute;
        top: 18px;
        left: 15px;
        width: 30px;
        height: 50%;
    }

    header>div>img{
        position: absolute;
        height: 100%;
        width: 30px;
        border-radius: 110px;
    }

    header>h2{
        position: absolute;
        font-family: "Open Sans Semibold";
        font-weight: bold;
        top: 20px;
        left: 55px;
        font-size: 19px;
        margin: 0;
    }
}

/* Responsive Tablet size */
@media all and (min-width: 768px) and (max-width: 1023px) {
    header {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        width: 100%;
        height: 53px;
        background: white;
        position: fixed;
        z-index: 5;
        top: 0;
    }

    header>nav>ul{
        position: absolute;
        top: 0;
        right: 15px;
        font-size: 20px;
        font-weight: bold;
        visibility: hidden;
    }


    header>div{
        position: absolute;
        top: 14px;
        left: 10px;
        width: 25px;
        height: 50%
    }

    header>div>img{
        position: absolute;
        height: 100%;
        width: 25px;
        border-radius: 110px;
    }
    header>h2{
        position: absolute;
        font-family: "Open Sans Semibold";
        font-weight: bold;
        top: 18px;
        left: 50px;
        font-size: 16px;
        margin: 0
    }

}

/* Responsive mobile(large) size */
@media all and (min-width: 425px) and (max-width: 767px) {
    header {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        width: 100%;
        height: 48px;
        background: white;
        position: fixed;
        z-index: 5;
        top: 0;
    }

    header>nav>ul{
        position: absolute;
        top: 0;
        right: 15px;
        font-size: 20px;
        font-weight: bold;
        visibility: hidden;
    }


    header>div{
        position: absolute;
        top: 14px;
        left: 10px;
        width: 20px;
        height: 50%
    }

    header>div>img{
        position: absolute;
        height: 100%;
        width: 25px;
        border-radius: 110px;
    }
    header>h2{
        position: absolute;
        font-family: "Open Sans Semibold";
        font-weight: bold;
        top: 19px;
        left: 40px;
        font-size: 13px;
        margin: 0
    }
}

/* Responsive mobile(medium) size */
@media all and (min-width: 375px) and (max-width: 424px) {
    header {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        width: 100%;
        height: 48px;
        background: white;
        position: fixed;
        z-index: 5;
        top: 0;
    }

    header>nav>ul{
        position: absolute;
        top: 0;
        right: 15px;
        font-size: 20px;
        font-weight: bold;
        visibility: hidden;
    }


    header>div{
        position: absolute;
        top: 14px;
        left: 10px;
        width: 20px;
        height: 50%
    }

    header>div>img{
        position: absolute;
        height: 100%;
        width: 25px;
        border-radius: 110px;
    }
    header>h2{
        position: absolute;
        font-family: "Open Sans Semibold";
        font-weight: bold;
        top: 19px;
        left: 40px;
        font-size: 13px;
        margin: 0
    }

}

/* Responsive mobile(small) size */
@media all and (max-width: 320px){
    header {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        width: 100%;
        height: 45px;
        background: white;
        position: fixed;
        z-index: 5;
        top: 0;
    }

    header>nav>ul{
        position: absolute;
        top: 0;
        right: 15px;
        font-size: 20px;
        font-weight: bold;
        visibility: hidden;
    }


    header>div{
        position: absolute;
        top: 13px;
        left: 10px;
        width: 20px;
        height: 50%
    }

    header>div>img{
        position: absolute;
        height: 100%;
        width: 23px;
        border-radius: 110px;
    }
    header>h2{
        position: absolute;
        font-family: "Open Sans Semibold";
        font-weight: bold;
        top: 17px;
        left: 40px;
        font-size: 12px;
        margin: 0
    }
}








