main>#HomePage{
    position: absolute;
    top: 60px;
    width: 100%;
    height: 700px;

}

main>#HomePage>img{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center ;
    background-size: cover;
}

main>#HomePage>section>h2{
    position: absolute;
    font-weight: bold;
    font-family: "Open Sans Extrabold";
    color:  #2c3e50;
    font-size: 50px;
    margin: 0;
    top: 190px;
    left: 130px;
}

main>#HomePage>section>h1{
    position: absolute;
    font-weight: bold;
    font-family: "Open Sans Semibold";
    color:  #2c3e50;
    font-size: 40px;
    margin: 0;
    top: 270px;
    left: 130px;
}

main>#HomePage>section>h4{
    position: absolute;
    font-weight: bold;
    font-family: "Open Sans Semibold";
    color:  black;
    font-size: 22px;
    margin: 0;
    top: 325px;
    left: 130px;
}

main>#HomePage>aside:nth-child(4){
    align-content: space-evenly;
    position: absolute;
    top: 275px;
    left: 1px;
    width: 69px;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

main>#HomePage>aside:nth-child(4)>img{

    width: 76px;
    height: 45px;
    margin: 0px;
}

main>#HomePage>aside:nth-child(2)>nav>button{
    position: absolute;
    background: #FF3366;
    width: 142px;
    height: 35px;
    top: 380px;
    left: 130px;
    border-radius: 10px;
    border: 0px;
    color: #D5D5D5;
    font-family: "Open Sans Semibold";
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Responsive mobile(large) size */
@media all and (min-width: 425px) and (max-width: 768px) {
    main>#HomePage{
        position: absolute;
        top: 48px;
        width: 100%;
        height: 255px;

    }

    main>#HomePage>img{
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: center ;
        background-size: cover;
    }

    main>#HomePage>section>h2{
        position: absolute;
        font-weight: bold;
        font-family: "Open Sans Extrabold";
        color: #2c3e50;
        font-size: 28px;
        margin: 0;
        top: 26%;
        left: 11%;
    }

    main>#HomePage>section>h1{
        position: absolute;
        font-weight: bold;
        font-family: "Open Sans Semibold";
        color: #2c3e50;
        font-size: 18px;
        margin: 0;
        top: 43%;
        left: 11%;
    }

    main>#HomePage>section>h4{
        position: absolute;
        font-weight: bold;
        font-family: "Open Sans Semibold";
        color: black;
        font-size: 13px;
        margin: 0;
        top: 53%;
        left: 11%;
    }

    main>#HomePage>aside:nth-child(4){
        align-content: space-evenly;
        position: absolute;
        top: 28%;
        left: 0%;
        width: 12%;
        height: 56%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    main>#HomePage>aside:nth-child(4)>img{
        width: 82%;
        height: 16%;
        margin: 0px;
    }

    main>#HomePage>aside:nth-child(2)>nav>button{
        position: absolute;
        background: #FF3366;
        width: 20%;
        height: 9%;
        top: 67%;
        left: 11%;
        border-radius: 10px;
        border: 0px;
        color: #D5D5D5;
        font-family: "Open Sans Semibold";
        font-size: 11px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}

/* Responsive mobile(medium) size */
@media all and (min-width: 375px) and (max-width: 424px) {
    main>#HomePage{
        position: absolute;
        top: 45px;
        width: 100%;
        height: 220px;

    }

    main>#HomePage>img{
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: center ;
        background-size: cover;
    }

    main>#HomePage>section>h2{
        position: absolute;
        font-weight: bold;
        font-family: "Open Sans Extrabold";
        color: #2c3e50;
        font-size: 25px;
        margin: 0;
        top: 26%;
        left: 11%;
    }

    main>#HomePage>section>h1{
        position: absolute;
        font-weight: bold;
        font-family: "Open Sans Semibold";
        color: #2c3e50;
        font-size: 17px;
        margin: 0;
        top: 43%;
        left: 11%;
    }

    main>#HomePage>section>h4{
        position: absolute;
        font-weight: bold;
        font-family: "Open Sans Semibold";
        color: black;
        font-size: 12px;
        margin: 0;
        top: 53%;
        left: 11%;
    }

    main>#HomePage>aside:nth-child(4){
        align-content: space-evenly;
        position: absolute;
        top: 28%;
        left: 0%;
        width: 12%;
        height: 56%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    main>#HomePage>aside:nth-child(4)>img{
        width: 82%;
        height: 16%;
        margin: 0px;
    }

    main>#HomePage>aside:nth-child(2)>nav>button{
        position: absolute;
        background: #FF3366;
        width: 19%;
        height: 9%;
        top: 67%;
        left: 11%;
        border-radius: 10px;
        border: 0px;
        color: #D5D5D5;
        font-family: "Open Sans Semibold";
        font-size: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}



/* Responsive mobile(small) size */

@media all and (max-width: 320px){
    main>#HomePage{
        position: absolute;
        top: 45px;
        width: 100%;
        height: 190px;

    }

    main>#HomePage>img{
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: center ;
        background-size: cover;
    }

    main>#HomePage>section>h2{
        position: absolute;
        font-weight: bold;
        font-family: "Open Sans Extrabold";
        color: #2c3e50;
        font-size: 23px;
        margin: 0;
        top: 26%;
        left: 11%;
    }

    main>#HomePage>section>h1{
        position: absolute;
        font-weight: bold;
        font-family: "Open Sans Semibold";
        color: #2c3e50;
        font-size: 15px;
        margin: 0;
        top: 43%;
        left: 11%;
    }

    main>#HomePage>section>h4{
        position: absolute;
        font-weight: bold;
        font-family: "Open Sans Semibold";
        color: black;
        font-size: 10px;
        margin: 0;
        top: 53%;
        left: 11%;
    }

    main>#HomePage>aside:nth-child(4){
        align-content: space-evenly;
        position: absolute;
        top: 28%;
        left: 0%;
        width: 11%;
        height: 53%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    main>#HomePage>aside:nth-child(4)>img{
        width: 82%;
        height: 16%;
        margin: 0px;
    }

    main>#HomePage>aside:nth-child(2)>nav>button{
        position: absolute;
        background: #FF3366;
        width: 16%;
        height: 7%;
        top: 67%;
        left: 11%;
        border-radius: 10px;
        border: 0px;
        color: #D5D5D5;
        font-family: "Open Sans Semibold";
        font-size: 7px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}

