main>#HomePage{
    position: absolute;
    top: 60px;
    width: 100%;
    height: 700px;

}

main>#HomePage>img{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center ;
    background-size: cover;
}

main>#HomePage>section>h2{
    position: absolute;
    font-weight: bold;
    font-family: "Open Sans Extrabold";
    color:  #2c3e50;
    font-size: 50px;
    margin: 0;
    top: 190px;
    left: 130px;
}

main>#HomePage>section>h1{
    position: absolute;
    font-weight: bold;
    font-family: "Open Sans Semibold";
    color:  #2c3e50;
    font-size: 40px;
    margin: 0;
    top: 270px;
    left: 130px;
}

main>#HomePage>section>h4{
    position: absolute;
    font-weight: bold;
    font-family: "Open Sans Semibold";
    color:  black;
    font-size: 25px;
    margin: 0;
    top: 325px;
    left: 130px;
}

main>#HomePage>aside:nth-child(4){
    position: absolute;
    border: 1px red solid;
    top: 237px;
    left: 30px;
    width: 55px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;

}

main>#HomePage>aside:nth-child(4)>img{
    position: absolute;
    width: 60px;
    height: 60px;
    margin: 0px;
}

main>#HomePage>aside:nth-child(2)>nav>button{
    position: absolute;
    background: #FF3366;
    width: 142px;
    height: 35px;
    top: 380px;
    left: 130px;
    border-radius: 10px;
    border: 0px;
    color: #D5D5D5;
    font-family: "Open Sans Semibold";
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}




