#skillsPage{
    position: absolute;
    top: 1910px;
    width: 100%;
    height: 620px;
    background: #ECF0F1;
}

#skillsPage>section:nth-child(1){
    position: absolute;
    width: 125px;
    height: 70px;
    top: 50px;
    left: 45%;
}

#skillsPage>section:nth-child(1)>h3{
    position: relative;
    margin: 0;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 20px;
    color: #FF3366;

}
#skillsPage>section:nth-child(1)>h1{
    position: relative;
    margin: 0;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 40px;
    color: #2c3e50;
    bottom: -5px;
}

#skillsPage>section:nth-child(2){
    position: absolute;
    width: 45%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-row-gap: 50px;
    grid-column-gap: 60px;
    top: 140px;
    right: 0;
    bottom: 0;
    left: 400px;
}

#skillsPage>section:nth-child(2)>div {
    background: #2c3e50;
    border-radius: 15px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#skillsPage>section:nth-child(2)>div>div{
    position: relative;
    width: 100px;
    height: 100px;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;

}

#skillsPage>section:nth-child(2)>div:nth-child(1)>div{
    background-image: url("../images/web/html png.png");
    background-position: center;
    background-size: cover;
}
#skillsPage>section:nth-child(2)>div:nth-child(2)>div{
    background-image: url("../images/web/CSS_New.png");
    background-position: center;
    background-size: cover;
}
#skillsPage>section:nth-child(2)>div:nth-child(3)>div{
    background-image: url("../images/web/js_new.png");
    background-position: center;
    background-size: cover;
}
#skillsPage>section:nth-child(2)>div:nth-child(4)>div{
    background-image: url("../images/web/java.png");
    background-position: center;
    background-size: cover;
}
#skillsPage>section:nth-child(2)>div:nth-child(5)>div{
    background-image: url("../images/web/mysql png.png");
    background-position: center;
    background-size: cover;
}
#skillsPage>section:nth-child(2)>div:nth-child(6)>div{
    background-image: url("../images/web/hinernate_new.png");
    background-position: center;
    background-size: cover;
}

#skillsPage>section:nth-child(2)>div>h3{
    position: absolute;
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 20px;
    color: #D5D5D5;
    right: 0px;
    bottom: 10px;
    left: 70px;
    margin: auto;

}

/* Responsive Laptop(small) size */
@media all and (min-width: 1024px) and (max-width: 1439px) {
    #skillsPage{
        position: absolute;
        top: 1933px;
        width: 100%;
        height: 670px;
        background: #ECF0F1;
    }

    #skillsPage>section:nth-child(1){
        position: absolute;
        width: 125px;
        height: 70px;
        top: 60px;
        left: 45%;
    }

    #skillsPage>section:nth-child(1)>h3{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 18px;
        color: #FF3366;

    }
    #skillsPage>section:nth-child(1)>h1{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 35px;
        color: #2c3e50;
        bottom: -5px;
    }

    #skillsPage>section:nth-child(2){
        position: absolute;
        width: 65%;
        height: 400px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-row-gap: 50px;
        grid-column-gap: 60px;
        top: 190px;
        right: 0;
        bottom: 0;
        left: 188px;
    }

    #skillsPage>section:nth-child(2)>div {
        background: #2c3e50;
        border-radius: 15px;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

    #skillsPage>section:nth-child(2)>div>div{
        position: relative;
        width: 100px;
        height: 100px;
        top: 20px;
        left: 0;
        right: 0;
        margin: auto;

    }

    #skillsPage>section:nth-child(2)>div:nth-child(1)>div{
        background-image: url("../images/web/html png.png");
        background-position: center;
        background-size: cover;
    }
    #skillsPage>section:nth-child(2)>div:nth-child(2)>div{
        background-image: url("../images/web/CSS_New.png");
        background-position: center;
        background-size: cover;
    }
    #skillsPage>section:nth-child(2)>div:nth-child(3)>div{
        background-image: url("../images/web/js_new.png");
        background-position: center;
        background-size: cover;
    }
    #skillsPage>section:nth-child(2)>div:nth-child(4)>div{
        background-image: url("../images/web/java.png");
        background-position: center;
        background-size: cover;
    }
    #skillsPage>section:nth-child(2)>div:nth-child(5)>div{
        background-image: url("../images/web/mysql png.png");
        background-position: center;
        background-size: cover;
    }
    #skillsPage>section:nth-child(2)>div:nth-child(6)>div{
        background-image: url("../images/web/hinernate_new.png");
        background-position: center;
        background-size: cover;
    }

    #skillsPage>section:nth-child(2)>div>h3{
        position: absolute;
        font-family: "Open Sans";
        font-weight: 500;
        font-size: 18px;
        color: #D5D5D5;
        right: 0px;
        bottom: 10px;
        left: 70px;
        margin: auto;

    }
}

/* Responsive Tablet size */
@media all and (min-width: 768px) and (max-width: 1023px) {
    #skillsPage{
        position: absolute;
        top: 1852px;
        width: 100%;
        height: 720px;
        background: #ECF0F1;
    }

    #skillsPage>section:nth-child(1){
        position: absolute;
        width: 125px;
        height: 65px;
        top: 65px;
        left: 40%;
    }

    #skillsPage>section:nth-child(1)>h3{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 14px;
        color: #FF3366;

    }
    #skillsPage>section:nth-child(1)>h1{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 29px;
        color: #2c3e50;
        bottom: -5px;
    }

    #skillsPage>section:nth-child(2){
        position: absolute;
        width: 60%;
        height: 490px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-row-gap: 33px;
        grid-column-gap: 55px;
        top: 155px;
        right: 0;
        bottom: 0;
        left: 150px;
    }

    #skillsPage>section:nth-child(2)>div {
        background: #2c3e50;
        border-radius: 15px;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

    #skillsPage>section:nth-child(2)>div>div{
        position: relative;
        width: 75px;
        height: 75px;
        top: 20px;
        left: 0;
        right: 0;
        margin: auto;

    }

    #skillsPage>section:nth-child(2)>div:nth-child(1)>div{
        background-image: url("../images/web/html png.png");
        background-position: center;
        background-size: cover;
    }
    #skillsPage>section:nth-child(2)>div:nth-child(2)>div{
        background-image: url("../images/web/CSS_New.png");
        background-position: center;
        background-size: cover;
    }
    #skillsPage>section:nth-child(2)>div:nth-child(3)>div{
        background-image: url("../images/web/js_new.png");
        background-position: center;
        background-size: cover;
    }
    #skillsPage>section:nth-child(2)>div:nth-child(4)>div{
        background-image: url("../images/web/java.png");
        background-position: center;
        background-size: cover;
    }
    #skillsPage>section:nth-child(2)>div:nth-child(5)>div{
        background-image: url("../images/web/mysql png.png");
        background-position: center;
        background-size: cover;
    }
    #skillsPage>section:nth-child(2)>div:nth-child(6)>div{
        background-image: url("../images/web/hinernate_new.png");
        background-position: center;
        background-size: cover;
    }

    #skillsPage>section:nth-child(2)>div>h3{
        position: absolute;
        font-family: "Open Sans";
        font-weight: 500;
        font-size: 15px;
        color: #D5D5D5;
        right: 0px;
        bottom: 7px;
        left: 77px;
        margin: auto;

    }
}

/* Responsive mobile(large) size */
@media all and (min-width: 425px) and (max-width: 767px) {
    #skillsPage{
        position: absolute;
        top: 1592px;
        width: 100%;
        height: 630px;
        background: #ECF0F1;
    }

    #skillsPage>section:nth-child(1){
        position: absolute;
        width: 125px;
        height: 65px;
        top: 65px;
        left: 40%;
    }

    #skillsPage>section:nth-child(1)>h3{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 14px;
        color: #FF3366;

    }
    #skillsPage>section:nth-child(1)>h1{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 29px;
        color: #2c3e50;
        bottom: -5px;
    }

    #skillsPage>section:nth-child(2){
        position: absolute;
        width: 73%;
        height: 415px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-row-gap: 33px;
        grid-column-gap: 55px;
        top: 155px;
        right: 0;
        bottom: 0;
        left: 57px;
    }

    #skillsPage>section:nth-child(2)>div {
        background: #2c3e50;
        border-radius: 15px;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

    #skillsPage>section:nth-child(2)>div>div{
        position: relative;
        width: 70px;
        height: 70px;
        top: 14px;
        left: 0;
        right: 0;
        margin: auto;

    }

    #skillsPage>section:nth-child(2)>div:nth-child(1)>div{
        background-image: url("../images/web/html png.png");
        background-position: center;
        background-size: cover;
    }
    #skillsPage>section:nth-child(2)>div:nth-child(2)>div{
        background-image: url("../images/web/CSS_New.png");
        background-position: center;
        background-size: cover;
    }
    #skillsPage>section:nth-child(2)>div:nth-child(3)>div{
        background-image: url("../images/web/js_new.png");
        background-position: center;
        background-size: cover;
    }
    #skillsPage>section:nth-child(2)>div:nth-child(4)>div{
        background-image: url("../images/web/java.png");
        background-position: center;
        background-size: cover;
    }
    #skillsPage>section:nth-child(2)>div:nth-child(5)>div{
        background-image: url("../images/web/mysql png.png");
        background-position: center;
        background-size: cover;
    }
    #skillsPage>section:nth-child(2)>div:nth-child(6)>div{
        background-image: url("../images/web/hinernate_new.png");
        background-position: center;
        background-size: cover;
    }

    #skillsPage>section:nth-child(2)>div>h3{
        position: absolute;
        font-family: "Open Sans";
        font-weight: 500;
        font-size: 14px;
        color: #D5D5D5;
        right: 0px;
        bottom: 7px;
        left: 33px;
        margin: auto;

    }
}

/* Responsive mobile(medium) size */
@media all and (min-width: 375px) and (max-width: 424px) {
    #skillsPage{
        position: absolute;
        top: 1485px;
        width: 100%;
        height: 570px;
        background: #ECF0F1;
    }

    #skillsPage>section:nth-child(1){
        position: absolute;
        width: 125px;
        height: 65px;
        top: 50px;
        left: 40%;
    }

    #skillsPage>section:nth-child(1)>h3{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 13px;
        color: #FF3366;

    }
    #skillsPage>section:nth-child(1)>h1{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 29px;
        color: #2c3e50;
        bottom: -5px;
    }

    #skillsPage>section:nth-child(2){
        position: absolute;
        width: 82%;
        height: 375px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-row-gap: 33px;
        grid-column-gap: 55px;
        top: 140px;
        right: 0;
        bottom: 0;
        left: 36px
    }

    #skillsPage>section:nth-child(2)>div {
        background: #2c3e50;
        border-radius: 15px;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

    #skillsPage>section:nth-child(2)>div>div{
        position: relative;
        width: 60px;
        height: 60px;
        top: 10px;
        left: 0;
        right: 0;
        margin: auto;

    }

    #skillsPage>section:nth-child(2)>div:nth-child(1)>div{
        background-image: url("../images/web/html png.png");
        background-position: center;
        background-size: cover;
    }
    #skillsPage>section:nth-child(2)>div:nth-child(2)>div{
        background-image: url("../images/web/CSS_New.png");
        background-position: center;
        background-size: cover;
    }
    #skillsPage>section:nth-child(2)>div:nth-child(3)>div{
        background-image: url("../images/web/js_new.png");
        background-position: center;
        background-size: cover;
    }
    #skillsPage>section:nth-child(2)>div:nth-child(4)>div{
        background-image: url("../images/web/java.png");
        background-position: center;
        background-size: cover;
    }
    #skillsPage>section:nth-child(2)>div:nth-child(5)>div{
        background-image: url("../images/web/mysql png.png");
        background-position: center;
        background-size: cover;
    }
    #skillsPage>section:nth-child(2)>div:nth-child(6)>div{
        background-image: url("../images/web/hinernate_new.png");
        background-position: center;
        background-size: cover;
    }

    #skillsPage>section:nth-child(2)>div>h3{
        position: absolute;
        font-family: "Open Sans";
        font-weight: 500;
        font-size: 14px;
        color: #D5D5D5;
        right: 0px;
        bottom: 7px;
        left: 33px;
        margin: auto;

    }
}

/* Responsive mobile(small) size */

@media all and (max-width: 320px){
    #skillsPage{
        position: absolute;
        top: 1457px;
        width: 100%;
        height: 570px;
        background: #ECF0F1;
    }

    #skillsPage>section:nth-child(1){
        position: absolute;
        width: 125px;
        height: 65px;
        top: 50px;
        left: 40%;
    }

    #skillsPage>section:nth-child(1)>h3{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 12px;
        color: #FF3366;

    }
    #skillsPage>section:nth-child(1)>h1{
        position: relative;
        margin: 0;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 28px;
        color: #2c3e50;
        bottom: -5px;
    }

    #skillsPage>section:nth-child(2){
        position: absolute;
        width: 82%;
        height: 375px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-row-gap: 33px;
        grid-column-gap: 55px;
        top: 140px;
        right: 0;
        bottom: 0;
        left: 30px
    }

    #skillsPage>section:nth-child(2)>div {
        background: #2c3e50;
        border-radius: 15px;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

    #skillsPage>section:nth-child(2)>div>div{
        position: relative;
        width: 60px;
        height: 60px;
        top: 10px;
        left: 0;
        right: 0;
        margin: auto;

    }

    #skillsPage>section:nth-child(2)>div:nth-child(1)>div{
        background-image: url("../images/web/html png.png");
        background-position: center;
        background-size: cover;
    }
    #skillsPage>section:nth-child(2)>div:nth-child(2)>div{
        background-image: url("../images/web/CSS_New.png");
        background-position: center;
        background-size: cover;
    }
    #skillsPage>section:nth-child(2)>div:nth-child(3)>div{
        background-image: url("../images/web/js_new.png");
        background-position: center;
        background-size: cover;
    }
    #skillsPage>section:nth-child(2)>div:nth-child(4)>div{
        background-image: url("../images/web/java.png");
        background-position: center;
        background-size: cover;
    }
    #skillsPage>section:nth-child(2)>div:nth-child(5)>div{
        background-image: url("../images/web/mysql png.png");
        background-position: center;
        background-size: cover;
    }
    #skillsPage>section:nth-child(2)>div:nth-child(6)>div{
        background-image: url("../images/web/hinernate_new.png");
        background-position: center;
        background-size: cover;
    }

    #skillsPage>section:nth-child(2)>div>h3{
        position: absolute;
        font-family: "Open Sans";
        font-weight: 500;
        font-size: 14px;
        color: #D5D5D5;
        right: 0px;
        bottom: 7px;
        left: 33px;
        margin: auto;

    }
}